div.nagydiv {  
    margin:0 auto;  
    text-align: center;
    width: 800px
;   height: 800px;
    float:inline-start;
    
}


body {
    background-image: url("https://i.imgur.com/UvexvHR.png");
    background-repeat: no-repeat;
}


div.index {

    background-color: rgb(42, 121, 51);
    width: 680px;
    height: 100px;
    border:solid 2px;
    padding:20px;
    text-align: center;
    margin-left: 87px;
    border-radius: 5px;
    

}

div.tartalom {

    background-color:rgb(58, 163, 70);
    border: solid, 2px;
    width: 700px;
    height: 700px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 5px;
    text-align:center;
}

iframe {  
    float:right;
    width:"120" height="200";
    margin-top: 500px;
    text-align:center;

}

p {
    text-align:center;
    margin-left: 120px;
}
